/* Table of Contents
_______________________________________
- General Content
- Typography
- Header & Navigation
- Images & Media
- Footer
- Media Queries
_______________________________________ */

/* General Content
_______________________________________ */
.main{padding-top:3%;}
.row{padding: 2% 0;}
.cream{background-color: #d8c3a5;}
body{background-color: #eae7dc;}

/* Typography
_______________________________________ */
body{
  font-family:'Abel',sans-serif;
  font-size: 1.5em;
  color:#000;
}

h2{
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;
  margin: 0.67em;
}

h2.bio{color: #e85a4f;}
p.bio{color: #eae7dc;}

/* Header & Navigation
_______________________________________ */
header.main_nav{
  padding: 1% 0;
  display: block;
}

.logo{
  margin: 5% auto;
  text-align: center;
}

.logo a{
  font-size: 3em;
  color: #e85a4f;
  text-decoration: none;
  border: 3px solid #e85a4f;
  text-transform: uppercase;
  padding: 2px 10px 0 10px;
  margin: 0;
}
.logo a:hover{
  background-color: #e85a4f;
  color: #d8c3a5;
}

/* Images & Media
_______________________________________ */
img{max-width: 100%;}
img.avatar{
  border-radius: 400px;
  border: 5px solid #eae7dc;
}
img:hover{opacity:0.8;}

/* Footer
_______________________________________ */
ul.social{
  display: block;
  margin: 5% 0;
  list-style-type: none;
  text-align: center;
}

ul.social li{
  font-size: 3em;
  display: inline;
  padding: 0 2%;
}

ul.social li a{
  color: #8e8d8a;
}

ul.social li.github a:hover{color: rgb(33, 31, 31);}
ul.social li.linkedin a:hover{color: rgb(0, 97, 146);}

p.copyright{
  text-align: center;
  color: #8e8d8a;
  font-size: 1em;
}

p.thanks{
  text-align: center;
  color: #8e8d8a;
  font-size: 1em;
}

/* Media Queries
_______________________________________ */
/* Larger than mobile */
@media (max-width: 479px) {
  .logo a{font-size: 2em;}
  .main{padding-top: 15%;}
  .portfolio img{margin-bottom: 10%;}
  img.avatar{margin-top: 25%;}
  h2.bio{font-size: 2.5em;}
  p.bio{font-size: 1.25em; color: #eae7dc;}
  ul.social li a{font-size: .75em;}
}
